In [83]:
import os
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

dir_data = '../../Kaggle_data'

In [84]:
f_app = os.path.join(dir_data, 'train.csv')
print('Path of read in data: %s' % (f_app))
train = pd.read_csv(f_app, header = None)
train.head()

Path of read in data: ../../Kaggle_data/train.csv

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [85]:
f_app = os.path.join(dir_data, 'test.csv')
print('Path of read in data: %s' % (f_app))
test = pd.read_csv(f_app, header = None)
test.head()

Path of read in data: ../../Kaggle_data/test.csv

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2.808909,-0.242894,-0.546421,0.255162,1.749736,-0.030458,-1.322071,3.578071,-0.667578,-0.884257,...,-0.261688,-0.224375,-1.675606,-0.479584,-0.244388,-0.672355,0.517860,0.010665,-0.419214,2.818387
1,-0.374101,0.537669,0.081063,0.756773,0.915231,2.557282,3.703187,1.673835,-0.764122,-1.228040,...,-0.969463,0.574154,-2.200519,-1.612240,0.179031,-2.924596,0.643610,-1.470939,-0.067408,-0.976265
2,-0.088370,0.154743,0.380716,-1.176126,1.699867,-0.258627,-1.384999,1.093584,1.596633,0.230631,...,-0.769885,-0.005143,1.467490,0.483803,-3.542981,0.814561,-1.652948,1.265866,-1.749248,1.773784
3,-0.685635,0.501283,1.873375,0.215224,-3.983468,-0.103637,4.136113,-0.225431,-1.515015,-1.071763,...,0.968609,2.386412,-0.131219,0.285646,2.302069,1.255588,-1.563090,-0.125258,-1.030761,-2.945329
4,0.350867,0.721897,-0.477104,-1.748776,-2.627405,1.075433,4.954253,-3.293501,-0.760369,0.204360,...,0.260553,-2.045650,-2.173227,0.372992,0.450700,-0.211657,1.301359,-0.522164,2.484883,0.039213

In [86]:
f_app = os.path.join(dir_data, 'trainLabels.csv')
print('Path of read in data: %s' % (f_app))
trainLabels = pd.read_csv(f_app, header = None)
trainLabels.head()

Path of read in data: ../../Kaggle_data/trainLabels.csv

   0
0  1
1  0
2  0
3  1
4  0

In [87]:
print("train's shape:", train.shape)
print("test's shape:", test.shape)
print("trainLabels' shape:", trainLabels.shape)

train's shape: (1000, 40)
test's shape: (9000, 40)
trainLabels' shape: (1000, 1)

In [88]:
first_5_columns = train.columns[0:5]
train[first_5_columns].describe()

                 0            1            2            3            4
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.025596    -0.024526    -0.024088    -0.002271     1.092329
std       1.008282     1.016298     0.979109     0.970575     4.538834
min      -3.365711    -3.492086    -2.695602    -3.460471   -16.421901
25%      -0.669010    -0.693937    -0.698830    -0.617557    -1.801997
50%       0.027895    -0.033194     0.008145     0.002327     0.862818
75%       0.762520     0.682753     0.661434     0.640743     3.843172
max       3.326246     3.583870     2.546507     3.088738    17.565345

In [89]:
x_train,x_test,y_train,y_test = train_test_split(train,trainLabels, test_size = 0.30, random_state = 1)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((700, 40), (300, 40), (700, 1), (300, 1))

In [90]:
# 建立模型
# reg = GradientBoostingRegressor(random_state=1)
reg = GradientBoostingClassifier(random_state=1)

In [91]:
# # 先看看使用預設參數得到的結果，發現MSE為0.43
# reg.fit(x_train, y_train)
# y_pred = reg.predict(x_test)
# print(metrics.mean_squared_error(y_test, y_pred.astype(int)))

# 先看看使用預設參數得到的結果，發現accuracy_score為0.89
reg.fit(x_train, y_train)
y_pred = reg.predict(x_test)
print(metrics.accuracy_score(y_test, y_pred.astype(int)))

/Users/jianweicheng/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.89

In [92]:
# 設定要訓練的超參數組合
import itertools
n_estimators = [5, 10, 20, 30]
max_depth = [5, 10 ,15, 20]

# hp_combinations = list(itertools.product(n_estimators, max_depth))

param_grid = dict(n_estimators = n_estimators, max_depth = max_depth)
# for i in range(len(hp_combinations)):
#     param_grid = dict(n_estimators = hp_combinations[i][0], max_depth = hp_combinations[i][1])

    ## 建立搜尋物件，放入模型及參數組合字典 (n_jobs=-1 會使用全部 cpu 平行運算)
grid_search = GridSearchCV(reg, param_grid, scoring="neg_mean_squared_error", n_jobs=-1, verbose=1)

    # 開始搜尋最佳參數
grid_result = grid_search.fit(x_train, y_train)

    # 預設會跑 3-fold cross-validadtion，總共 9 種參數組合，總共要 train 27 次模型

Fitting 3 folds for each of 16 candidates, totalling 48 fits

/Users/jianweicheng/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  48 out of  48 | elapsed:    8.0s finished
/Users/jianweicheng/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [93]:
# 印出最佳結果與最佳參數
print("Best Accuracy: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
print(grid_result.best_params_)

Best Accuracy: -0.178571 using {'max_depth': 5, 'n_estimators': 20}
{'max_depth': 5, 'n_estimators': 20}

In [94]:
# 使用最佳參數重新建立模型
# reg_bestparam = GradientBoostingRegressor(max_depth=grid_result.best_params_['max_depth'],
#                                            n_estimators=grid_result.best_params_['n_estimators'])

reg_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'],
                                           n_estimators=grid_result.best_params_['n_estimators'])

# 訓練模型
reg_bestparam.fit(x_train, y_train)

# 預測測試集
y_pred = reg_bestparam.predict(x_test)

/Users/jianweicheng/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [95]:
# # 調整參數後，MSE降至0.096
# print(metrics.mean_squared_error(y_test, y_pred))

In [96]:
print('GradientBoostingClassifier', accuracy_score(y_test, y_pred))

GradientBoostingClassifier 0.88

In [111]:
reg = GradientBoostingClassifier(max_depth=5, n_estimators=20, random_state=1)
reg.fit(x_train, y_train)
y1_pred = reg.predict(test)
y1_pred

/Users/jianweicheng/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 0, 0, ..., 1, 0, 1])

In [112]:
# # 使用最佳參數重新建立模型


# reg_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'],
#                                            n_estimators=grid_result.best_params_['n_estimators'])

# # 訓練模型
# reg_bestparam.fit(x_train, y_train)

# # 預測測試集
# y_pred = reg_bestparam.predict(x_test)

# print('GradientBoostingClassifier', accuracy_score(y_test, y_pred))

In [118]:
Y1_pred = pd.DataFrame(y1_pred)

Y1_pred.index += 1

Y1_pred.columns = ['Solution']
Y1_pred['Id'] = np.arange(1,Y1_pred.shape[0]+1)
Y1_pred = Y1_pred[['Id', 'Solution']]

Y1_pred.to_csv(dir_data+'/kaggle_day048.csv', index=False)